.container {
    max-width: 790px;
    margin-top: 5px;
}

.disabled-link {
    pointer-events: none;
    color: grey;
}

.form-title {
    text-align: center;
    margin-bottom: 0.5em;
}

.close {
     line-height: 0.8;
}

.actions {
    text-align: center;
}
